.ui-jqgrid
{
  font-size:11px;
  position:relative;
}

.ui-jqgrid .ui-jqgrid-view
{
  left:0;
  position:relative;
  top:0;
  padding:.0em;
}

.ui-jqgrid .ui-jqgrid-titlebar
{
  border-left:0 none;
  border-right:0 none;
  border-top:0 none;
  position:relative;
  padding:.3em .2em .2em .3em;
}

.ui-jqgrid .ui-jqgrid-hbox
{
  float:left;
  padding-right:20px;
}

.ui-jqgrid .ui-jqgrid-htable th
{
  height:22px;
  padding:0 2px;
}

.ui-jqgrid .ui-jqgrid-htable th div
{
  overflow:hidden;
}

.ui-th-column,.ui-jqgrid .ui-jqgrid-htable th.ui-th-column
{
  border-bottom:0 none;
  border-left:0 none;
  border-top:0 none;
  overflow:hidden;
  text-align:center;
  white-space:nowrap;
}

.ui-jqgrid .ui-th-div-ie
{
  float:left;
  white-space:nowrap;
  width:97%;
}

.ui-jqgrid .ui-jqgrid-resize
{
  cursor:col-resize;
  display:block;
  float:right;
  height:auto;
  overflow:hidden;
  position:relative;
  width:5px;
  margin:-2px -2px -2px 0;
}

.ui-jqgrid .ui-grid-ico-sort
{
  display:inline;
  float:none;
  height:16px;
  overflow:hidden;
  width:16px;
  margin:0;
}

.ui-jqgrid tr.ui-search-toolbar th
{
  border-top-color:inherit!important;
  border-top-style:ridge!important;
  border-top-width:1px!important;
}

.ui-jqgrid .ui-jqgrid-bdiv
{
  overflow:auto;
  position:relative;
  margin:0;
  padding:0;
}

.ui-jqgrid tr.jqgrow td
{
  border-bottom-color:inherit;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-right-color:inherit;
  border-right-style:solid;
  border-right-width:1px;
  font-weight:400;
  height:22px;
  overflow:hidden;
  text-align:left;
  white-space:pre;
  padding:0 2px;
}

.ui-jqgrid td.jqgrid-rownum
{
  border:0 none;
  margin:0;
  padding:0 2px;
}

.ui-jqgrid .ui-jqgrid-resize-mark
{
  background-color:#777;
  border:0 none;
  cursor:col-resize;
  height:100px;
  left:0;
  overflow:hidden;
  position:absolute;
  top:0;
  visibility:hidden;
  width:2px;
}

.ui-jqgrid tr.footrow td
{
  border-right-color:inherit;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:inherit;
  border-top-style:solid;
  border-top-width:1px;
  font-weight:700;
  height:21px;
  overflow:hidden;
  text-align:left;
  white-space:nowrap;
  padding:0 2px;
}

.ui-jqgrid .ui-jqgrid-pager
{
  border-bottom:0 none!important;
  border-left:0 none!important;
  border-right:0 none!important;
  height:25px;
  overflow:hidden;
  position:relative;
  white-space:nowrap;
  margin:0!important;
  padding:0!important;
}

.ui-jqgrid .ui-pg-table
{
  padding-bottom:2px;
  position:relative;
}

.ui-jqgrid .ui-pg-table td
{
  font-weight:400;
  overflow:hidden;
  vertical-align:middle;
  padding:1px;
}

.ui-jqgrid .ui-pg-button
{
  height:19px!important;
}

.ui-jqgrid .ui-pg-button span
{
  display:block;
  float:left;
  margin:1px;
}

.ui-jqgrid .ui-state-disabled:hover
{
  padding:1px;
}

.ui-jqgrid .ui-pg-input
{
  font-size:.8em;
  height:13px;
}

.ui-jqgrid .ui-pg-selbox
{
  display:block;
  font-size:.8em;
  height:18px;
  line-height:18px;
}

.ui-jqgrid .ui-separator
{
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  float:right;
  height:18px;
  margin:1px;
}

.ui-jqgrid .ui-paging-info
{
  font-weight:400;
  height:19px;
  margin-top:3px;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div
{
  cursor:pointer;
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  position:relative;
  padding:1px 0;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon
{
  float:left;
  margin:0 2px;
}

.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span
{
  display:block;
}

.ui-jqgrid .ui-subgrid
{
  width:100%;
  margin:0;
  padding:0;
}

.ui-jqgrid .ui-subgrid tr.ui-subtblcell td
{
  border-bottom-color:inherit;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-right-color:inherit;
  border-right-style:solid;
  border-right-width:1px;
  height:18px;
}

.ui-jqgrid .ui-subgrid td.subgrid-data
{
  border-top:0 none!important;
}

.ui-jqgrid .loading
{
  display:none;
  font-weight:700;
  left:45%;
  position:absolute;
  text-align:center;
  top:45%;
  width:auto;
  z-index:101;
  border-width:2px!important;
  margin:5px;
  padding:6px;
}

.ui-jqgrid .jqgrid-overlay
{
  display:none;
  z-index:100;
}

* html .jqgrid-overlay
{
  height:expression(this.parentNode.offsetHeight+'px');
  width:expression(this.parentNode.offsetWidth+'px');
}

.ui-jqgrid .ui-userdata
{
  border-left:0 none;
  border-right:0 none;
  height:21px;
  overflow:hidden;
}

.ui-jqdialog
{
  display:none;
  font-size:11px;
  overflow:visible;
  position:absolute;
  width:300px;
  padding:.2em;
}

.ui-jqdialog .ui-jqdialog-titlebar
{
  position:relative;
  padding:.3em .2em;
}

.ui-jqdialog-content,.ui-jqdialog .ui-jqdialog-content
{
  background:none;
  border:0;
  height:auto;
  padding:.3em .2em;
}

.ui-jqdialog .ui-jqconfirm
{
  bottom:10px;
  display:none;
  height:80px;
  overflow:visible;
  position:absolute;
  right:10px;
  text-align:center;
  width:220px;
  border-width:3px;
  padding:.4em 1em;
}

.ui-jqdialog-content .FormGrid
{
  margin:0;
}

.ui-jqdialog-content .EditTable
{
  width:100%;
}

.ui-jqdialog-content td.EditButton
{
  border-left:0 none;
  border-right:0 none;
  border-top:0 none;
  padding-bottom:5px;
  padding-top:5px;
  text-align:right;
}

.ui-jqdialog-content td.navButton
{
  border-left:0 none;
  border-right:0 none;
  border-top:0 none;
  padding-bottom:5px;
  padding-top:5px;
  text-align:center;
}

.ui-jqdialog-content .CaptionTD
{
  border-bottom:0 none;
  border-left:0 none;
  border-right:0 none;
  text-align:left;
  vertical-align:top;
  white-space:nowrap;
  padding:1px;
}

.ui-jqdialog-content .DataTD
{
  border-bottom:0 none;
  border-left:0 none;
  border-right:0 none;
  vertical-align:top;
  padding:1px;
}

.fm-button
{
  cursor:pointer;
  position:relative;
  text-align:center;
  text-decoration:none!important;
  zoom:1;
  margin:0 4px 0 0;
  padding:.4em .5em;
}

.fm-button-icon-left
{
  padding-left:1.9em;
}

.fm-button-icon-right
{
  padding-right:1.9em;
}

.fm-button-icon-left .ui-icon
{
  left:.2em;
  margin-left:0;
  margin-top:-8px;
  position:absolute;
  right:auto;
  top:50%;
}

.fm-button-icon-right .ui-icon
{
  left:auto;
  margin-left:0;
  margin-top:-8px;
  position:absolute;
  right:.2em;
  top:50%;
}

#nData,#pData
{
  display:block;
  float:left;
  width:15px;
  margin:3px;
  padding:0;
}

.ui-jqgrid .selected-row,.ui-jqgrid .selected-row td
{
  border:0 none;
  font-style:normal;
}

.ui-jqgrid .tree-wrap
{
  float:left;
  height:18px;
  overflow:hidden;
  position:relative;
  white-space:nowrap;
}

.jqmOverlay
{
  background-color:#000;
}

.ui-searchFilter
{
  display:none;
  height:100%;
  overflow:visible;
  position:absolute;
  width:100%;
  z-index:100;
}

.ui-searchFilter .divider
{
  height:1px;
}

.ui-searchFilter .divider div
{
  background-color:#000;
  height:1px;
}

.ui-jqgrid .ui-jqgrid-title,.ui-jqdialog .ui-jqdialog-title
{
  float:left;
  margin:.1em 0 .2em;
}

.ui-jqgrid .ui-jqgrid-titlebar-close,.ui-jqdialog .ui-jqdialog-titlebar-close
{
  height:18px;
  position:absolute;
  right:.3em;
  top:50%;
  width:19px;
  margin:-10px 0 0;
  padding:1px;
}

.ui-jqgrid .ui-jqgrid-titlebar-close span,.ui-jqdialog .ui-jqdialog-titlebar-close span
{
  display:block;
  margin:1px;
}

.ui-jqgrid .ui-jqgrid-titlebar-close:hover,.ui-jqgrid .ui-pg-button:hover,.ui-jqdialog .ui-jqdialog-titlebar-close:hover,.ui-jqdialog .ui-jqdialog-titlebar-close:focus
{
  padding:0;
}

.ui-jqgrid .ui-jqgrid-hdiv,.ui-jqgrid .ui-jqgrid-sdiv
{
  border-left:0 none!important;
  border-right:0 none!important;
  border-top:0 none!important;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
}

.ui-jqgrid .ui-jqgrid-htable,.ui-jqgrid .ui-jqgrid-btable,.ui-jqgrid .ui-jqgrid-ftable,.ui-jqgrid .ui-subgrid table
{
  table-layout:fixed;
}

.ui-jqgrid .ui-jqgrid-sortable,.ui-jqgrid .treeclick,.ui-searchFilter .ui-state-default
{
  cursor:pointer;
}

.ui-jqgrid .ui-pager-control,.ui-searchFilter table
{
  position:relative;
}

* .jqgrid-overlay iframe,* iframe.jqm
{
  height:expression(this.parentNode.offsetHeight+'px');
  left:0;
  position:absolute;
  top:0;
  width:expression(this.parentNode.offsetWidth+'px');
  z-index:-1;
}

.ui-jqgrid .tree-minus,.ui-jqgrid .tree-plus,.ui-jqgrid .tree-leaf
{
  height:18px;
  overflow:hidden;
  position:absolute;
  width:18px;
}